@use '../shared/styles/colors.scss' as *;

.scalpingTools {
  grid-area: tools;
  color: $dark-jungle;
  outline: 1px solid $gainsboro;
  outline-offset: -1px;
}

.heading {
  font-weight: 500;
}

.arrow {
  path {
    stroke: $dark-jungle;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 12px 16px;
  color: $white;
  background-color: $dark-jungle;

  font-weight: 400;
  line-height: 120%;

  &:hover {
    background-color: $charcoal-grey;
  }
}

.toolsHeading {
  display: flex;
  align-items: center;
}

.tools {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;

  margin-top: 16px;
}

@media (max-width: 479px) {
  .scalpingTools {
    min-height: 264px;
  }
}

@media (max-width: 324px) {
  .scalpingTools {
    min-height: 276px;
  }
}
