@use '../shared/styles/colors.module.scss' as *;

.services {
  display: grid;
  gap: 8px;

  grid-template-columns: 1fr 352px 208px;

  grid-template-areas:
    'brokers . .'
    'academy exchanges media'
    'tools company discord';
}

.brokers {
  grid-area: brokers;
  background-color: $sapphire;

  font-size: 40px;
}

.academy {
  grid-area: academy;
  background-color: $dodger-blue;
}

.exchanges {
  grid-area: exchanges;
  background-color: $blue-lotus;
}

.media {
  grid-area: media;
  background-color: $bright-sun;
}

.tools {
  grid-area: tools;
}

.company {
  grid-area: company;
}

.discord {
  grid-area: discord;
}

.academy,
.exchanges,
.media,
.tools,
.company,
.discord {
  font-size: 32px;
}

.tools,
.company,
.discord {
  color: $dark-jungle;
  border: 1px solid $gainsboro;
}

@media (max-width: 1279px) {
  .services {
    grid-template-columns: 1fr 208px 208px;

    grid-template-areas:
      'brokers . .'
      'academy exchanges exchanges'
      'tools company company'
      '. discord media';
  }
}
