@use '../shared/styles/colors.scss' as *;

.services {
  display: grid;
  gap: 8px;

  grid-template-columns: 1fr 352px 208px;

  grid-template-areas:
    'broker . .'
    'academy trading media'
    'tools company discord';
}

@media (max-width: 1279px) {
  .services {
    grid-template-columns: 1fr 208px 208px;

    grid-template-areas:
      'broker . .'
      'academy trading trading'
      'tools company company'
      '. discord media';
  }
}

@media (max-width: 767px) {
  .services {
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      'broker broker'
      'academy academy'
      'trading trading'
      'tools tools'
      'company company'
      'discord media';
  }
}
