@use '../shared/styles/colors.scss' as *;
@use '../shared/styles/functions.scss' as *;

.header {
  color: $lapis-blue;
  font-family: 'Inter';
  margin-bottom: 32px;
}

.heading {
  margin: 0 0 8px 0;

  font-size: 128px;
  font-weight: 700;

  line-height: 120%;
  letter-spacing: -5px;
}

.subheading {
  margin: 0;

  font-size: 24px;
  line-height: 120%;
}

@media (max-width: 1279px) {
  .header {
    margin-bottom: 40px;
  }

  .heading {
    font-size: 96px;
  }
}

@media (max-width: 720px) {
  $heading: calcFluid(60, 96, 390, 720);

  .heading {
    font-size: $heading;
    letter-spacing: calc($heading * -0.04);
  }
}

@media (max-width: 490px) {
  .subheading {
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  $heading: calcFluid(48, 60, 320, 390);

  .heading {
    font-size: $heading;
    letter-spacing: calc($heading * -0.04);
  }
}
