@use '../shared/styles/colors.scss' as *;

.academy {
  grid-area: academy;
  background-color: $dodger-blue;
}

.academyLink.academyLink {
  gap: 6px;

  &:hover {
    path {
      stroke: $white;
    }
  }
}

.transparentLink.transparentLink {
  margin-left: 8px;
  color: $white;
  background-color: transparent;

  &:hover {
    background-color: $palatinate-blue;
  }

  &:active {
    background-color: $dark-jungle-green;
  }
}

.arrow {
  path {
    stroke: $dark-jungle;
    transition: stroke 0.3s;
  }
}
