@use '../shared/styles/colors.scss' as *;

.root {
  grid-area: academy;
  background-color: $dodger-blue;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  &:hover {
    path {
      stroke: $white;
    }
  }
}

.transparent {
  margin-left: 8px;
  color: $white;
  background-color: transparent;
}

.arrow {
  path {
    stroke: $dark-jungle;
    transition: stroke 0.3s;
  }
}
