$white: #ffffff;
$lapis-blue: #2c3487;
$sapphire: #323eb2;
$dodger-blue: #4a7dff;
$blue-lotus: #7b51f9;
$bright-sun: #f8da38;
$gainsboro: #dddddd;
$dark-jungle: #1a2426;
$palatinate-blue: #2e3dd4;
$charcoal-grey: #3b4345;
$carbon-grey: #5c5c5c;
$shadow-color: #aaaaaaa3;
