@font-face {
  font-family: 'Inter-Bold';
  src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
}
