.wrapper {
  max-width: 1440px;
  height: 100%;

  margin: 0 auto;
  padding: 15px 76px 28px;

  // background: url('../shared/assets/images/background-desktop.png') no-repeat
  //   top 0 right 100px;
}

@media (max-width: 1279px) {
  .wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    // margin-top: 40px;

    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
}

@media (max-width: 390px) {
  .wrapper {
    // padding-bottom: calcFluid(12, 16, 320, 390);
    // padding-bottom: 16px;
  }
}
