@use '../../styles/colors.scss' as *;
@use '../../styles/functions.scss' as *;

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;

  color: $dark-jungle;
  background-color: $white;
  text-decoration: none;
}
