@use '../../styles/colors.scss' as *;

.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;

  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
}
