@use '../../styles/colors.scss' as *;

.link {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  text-align: right;
  border-radius: 32px;
}

.content {
  margin-left: auto;
}
