@use '../../styles/colors.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  position: relative;

  height: 228px;

  padding: 24px;
  border-radius: 32px;
  outline: 1px solid transparent;

  color: $white;
  font-family: 'Inter';

  transition:
    box-shadow 0.3s,
    outline 0.3s;

  &:hover {
    box-shadow: 8px 8px 32px 0 $shadow-color;
    outline: 1px solid transparent;

    &.hasDescription {
      .heading,
      .subheading {
        visibility: hidden;
        opacity: 0;
      }

      .description {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.heading {
  margin: 0 0 8px 0;

  font-size: 32px;
  font-weight: 600;

  line-height: 120%;
  letter-spacing: -0.8px;
}

.subheading {
  margin: 0;

  font-size: 18px;
  font-weight: 400;

  line-height: 120%;
}

.content {
  margin-top: auto;
}

.description {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  padding: inherit;
  top: 0;
  left: 0;

  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}

.heading,
.subheading,
.description {
  transition: opacity 0.3s;
}
