@use '../../styles/colors.scss' as *;
@use '../../styles/functions.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  position: relative;

  min-height: 228px;

  padding: 24px;
  border-radius: 32px;
  outline: 1px solid transparent;

  color: $white;
  font-family: 'Inter';

  transition:
    box-shadow 0.3s,
    outline 0.3s;

  &:hover {
    box-shadow: 8px 8px 32px 0 $shadow-color;
    outline: 1px solid transparent;

    &.hasDescription {
      .heading,
      .subheading {
        visibility: hidden;
        opacity: 0;
      }

      .description {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.heading {
  margin: 0 0 8px 0;

  font-size: 32px;
  font-weight: 600;

  line-height: 120%;
  letter-spacing: -0.8px;
}

.subheading {
  margin: 0;

  font-size: 18px;
  font-weight: 400;

  line-height: 120%;
}

.description {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  padding: inherit;
  top: 0;
  left: 0;

  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}

.content {
  margin-top: auto;
}

.heading,
.subheading,
.description {
  transition: opacity 0.3s;
}

@media (max-width: 920px) {
  .card {
    padding: calcFluid(18, 24, 768, 920);
  }
}

@media (max-width: 767px) {
  .card {
    padding: 24px;
  }
}

@media (max-width: 429px) {
  .description {
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .card {
    min-height: calcFluid(208, 228, 320, 390);
    padding: calcFluid(21, 24, 320, 390);
  }

  .heading {
    font-size: calcFluid(26, 32, 320, 390);
  }

  .subheading {
    font-size: 15px;
  }
}
