@use '../../styles/colors.scss' as *;

.roundLink {
  width: 64px;
  height: 64px;

  padding: 16px;
  border-radius: 50%;

  transition: background-color 0.3s;

  &:hover {
    background-color: $charcoal-grey;
  }
}
